
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h1> This is my page header section.</h1>
    @RenderBody()
    <h1> This is my page footer section.</h1>
</body>
</html>