@page

@functions{

    public string DayName { get; set; }
    public string CurrentTime { get; set; }

    public void OnGet() {

        Model.DayName = System.DateTime.Now.ToString("dddd");
        Model.CurrentTime = System.DateTime.Now.ToString();

    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1> This is my First HTML Page.</h1>
    <h2>Current day is @Model.DayName and Current Time is @Model.CurrentTime </h2>
</body>
</html>