@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post"  enctype="multipart/form-data" 
asp-action="Index" asp-controller="Home">
<span>Select File: </span>
    <input type="file" name="postedFiles"  multiple/> 
    <button type="submit">Upload File</button>
</form>
<span>@ViewBag.Message</span>


