<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h4>Welcome to student management System</h4>
    </div>
    <div>

        @RenderBody()
    </div>

</body>
</html>