<html>
<head>

</head>

<body>
    <h3> Add A New Student</h3>

    <form method="post" action="/Student/StudentForm">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="Age">Age:</label><br>
        <input type="text" id="age" name="age"><br>

        <label for="CGPA">CGPA:</label><br>
        <input type="text" id="cgpa" name="cgpa"><br>

        <label for="Semester">Semester:</label><br>
        <input type="text" id="semester" name="semester"><br>


        <input type="submit" value="Save Student" />

    </form>
</body>
</html>